{{ define "main" }}
  {{ .Content }}

  <style>
    .photos-list {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      gap: 10px 20px;
      font-size: 0.9em;
    }

    .photo {
      flex: 1 40%;
      min-width: 250px;
    }
  </style>

  <div class="photos-list">
    {{ range $.Site.Data.photos }}
        <div class="photo">
          <img lazyload src="/photos/{{ .photo }}" alt="{{ .name }}" />
          <strong>{{.emoji}} {{ .name }}</strong> <br />
          <i>{{ .date }}</i><br />
          {{ .location }} <br />
        </div>
    {{ end }}
  </div>
{{ end }}